.form {
    background-color: rgb(231, 223, 223);
    color: rgb(134, 43, 43);
    font-size: 25px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    border: 2px solid rgb(134, 43, 43);
    text-align: center;
    justify-content: center;
}

.form__header {
    background-color: transparent;
    font-size: 40px;
    text-shadow: black;
    color: rgb(134, 43, 43);
}

.form__info {
    font-size: 20px;
}

.form__field {
    border-radius: 5px;
    text-align: center;
}

.form__button {
    background-color: rgb(134, 43, 43);
    color: white;
    font-size: 25px;
    margin-top: 5px;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 10px;
}
